# AEGIS HERO COMMAND CONFIGURATION
PORT=3000
ROOT_EMAIL=

# OPTIONAL: Configure your Gmail or SMTP to send actual live emails to your inbox:
# Step 1: In Google Account Security, enable 2-Step Verification
# Step 2: Generate an "App Password" (choose Mail / Other)
# Step 3: Put your email and 16-character App password below:
SMTP_USER=
SMTP_PASS=
SMTP_SERVICE=gmail
